@font-face {
  font-family: 'SixtyFour';
  src: url('/static/Sixtyfour/Sixtyfour-Regular-VariableFont_BLED,SCAN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes hider {
  10% {
    height: 0;
  }
  100% {
   height: 75%;
  }
}

#hider {
  display: block; /* Ensure it's a block-level element */
  width: 100%;       /* Initial width */
  height: 0;   /* Example height */

  animation: hider 4s linear forwards;
}
#webcam {
  transform: scaleX(-1); /* Flips the video horizontally */
}
#overlay {
  transform: scaleX(-1);
}